html, body {
  width: auto;
  height: 100%;
  position: relative;
  max-width: 100%;
  font-size: 11px;
  margin: 0;
  padding: 0; }

header {
  background-color: #009bff;
  color: black;
  margin: 0;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }

ul, li {
  padding: 0;
  margin: 0;
  max-width: 100%; }

.recipie-list {
  max-width: 1024px;
  margin: 100px auto 0;
  padding: 20px 0 100px; }

.recipie-list h1 {
  font-size: 32px;
  margin: 0;
  padding: 0; }

.recipie-list ul li {
  border: 1px dashed #ddd;
  border-radius: 10px;
  float: left;
  height: auto;
  list-style-type: none;
  margin: 20px 20px 0 0;
  padding: 0 20px 15px;
  width: 24%;
  cursor: pointer;
  position: relative;
  z-index: 0; }

.recipie-list ul li .details {
  background-color: #009bff;
  display: none;
  left: 20px;
  padding: 0;
  position: absolute;
  top: 0;
  width: auto;
  border-radius: 5px; }

.recipie-list ul li:hover .details {
  display: block;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.recipie-list ul li .details div {
  font-size: 14px;
  padding: 6px 10px 0 10px; }

.recipie-list ul li .details h3 {
  font-size: 20px;
  padding: 6px 10px 0 10px; }

.clearfix {
  clear: both;
  float: none; }

.login {
  margin: 100px 0; }

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px; }

.recipie-list ul li h4 {
  font-size: 13px;
  height: auto;
  margin: 5px 0; }

.recipie-list ul li h3 {
  font-size: 20px;
  height: auto;
  margin: 15px 0 0; }

.recipie-list img {
  width: 100%; }

@media screen and (max-width: 700px) {
  .recipie-list ul li {
    width: 38%; } }
@media screen and (max-width: 550px) {
  .recipie-list ul li {
    width: 86%;
    margin-right: 30px; }

  .recipie-list ul {
    margin: 0 auto; } }
