<div class="login">
    <h1>Login Page</h1>

    <p>{{ message }}</p>

    <form name="userForm" class="userForm" action="#recipies" method="post">
        <div>
            <input placeholder="valide email address"
                    type="email"
                    name="userEmail"
                    ng-model="recipie.userEmail"
                    ng-minlength="3"
                    ng-maxlength="50"
                    required>

            <div ng-messages="userForm.userEmail.$error">
                <div ng-message="required">This field is required</div>
                <div ng-message="email">Your email address is invalid</div>
            </div>


        </div>

        <div>
            <input
                    type="password"
                    name="password"
                    ng-model="recipie.password"
                    ng-minlength="3"
                    ng-maxlength="8"
                    required>

            <div ng-messages="userForm.password.$error">
                <div ng-message="required">This field is required</div>
                <div ng-message="email">Your password is invalid</div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit"">Submit</button>
        </div>
    </form>


</div>