<div class="recipie-list">
    <h1>List of recipies</h1>
    <p>{{ message }}</p>
    <ul>
        <li ng-repeat="rec in recScope" class="">
            <h3>{{rec.name}}</h3>
            <h4>{{rec.headline}}</h4>
            <a target="_BLANK" href="{{rec.image}}"><img width="120" src="{{rec.image}}"/></a>
            <!--Ingrediens:{{rec.deliverable_ingredients}}-->
            <div class="details">
                <h3>Details</h3>
                <div>Carbos: {{rec.carbos}}</div>
                <div>Calories: {{rec.calories}}</div>
                <div>Fats: {{rec.fats}}</div>
                <div>Difficulty: {{rec.difficulty}}</div>
                <div>Rate of users: {{rec.rating}}</div>
                <div>Favorites: {{rec.favorites}}</div>
                <div><button>Add to favorites</button> <button>Rate it</button></div>
            </div>


        </li>
    </ul>
    <div class="clearfix"></div>
</div>